@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,300;0,400;0,500;0,600;1,300&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@300;400;500;700&display=swap');
*{
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background: #333;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.quote-wrapper{
    width: 650px;
    height: 570px;
    /* margin: 0 30px; */
    margin-bottom: 175px;
    padding: 75px;
}

.quote-wrapper .quote-heading{
    text-align: center;
    margin-bottom: 30px;
}

.quote-wrapper .quote-heading h2{
    font-weight: 400;
    font-family: 'Ubuntu', sans-serif;
    color: #fff;
}

.quote-wrapper .quote-body{
    max-width: 100%;
    max-height: 340px;
    background: #fff;
    border-radius: 5px;
    padding: 50px 35px;
}

.quote-wrapper .quote-body .icon-quote{
    text-align: center;
    font-size: 18px;
    color: #333;
    height: 150px;
    overflow: scroll;
    overflow-x: hidden;
    overflow-wrap: normal;
}


.quote-wrapper .quote-body .icon-quote .icon{
    margin-right: 5px;
}


.quote-wrapper .quote-body .quote-btn{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 10px;
    border-top: 1px solid #333;
    padding: 5px 0;
}

.quote-wrapper .quote-body .social a{
    font-size: 30px;
    color: #333;
    background-size: cover;
    border-radius: 14px;
    color: #333;
    transition: 0.3 ease;
}

.quote-wrapper .quote-body .social a:hover{
    color: #00acee;
}

/* .quote-wrapper .quote-body .btn button{
    border: none;
    outline: none;
    padding: 10px 15px;
    background: #333;
    color: #ffff;
    cursor: pointer;
    font-size: 16px;
    border-radius: 7px;
    justify-content: right;
} */

.quote-wrapper .quote-body .btn button:active{
    background: #00acee;
}

.quote-wrapper .footer{
    text-align: center;
    margin-top: 20px;
}

.quote-wrapper .footer p{
    color: #fff;
}

.quote-wrapper .footer p a{
    color: #00acee;
    text-decoration: none;
}

/* .quote-wrapper .number .quote_gen{
     /* align-items: center;
     justify-content: center; */
     /* padding: 10px 20px; */
     /* color: #fff; */
     /* border-radius: 8px; */
     /* cursor: pointer;
     outline: none;
     overflow: hidden;
     border: none; */
/* } */

.quote-wrapper .number button:nth-child(1){
    background-color: #457b9d;
}

.quote-wrapper .number button:nth-child(1):hover{
    background-color: #3d5a80;
    transform: scale(1.1);
}

.quote-wrapper .number button:nth-child(2){
    background-color: #e63946;
}

.quote-wrapper .number button:nth-child(2):hover{
    background-color: #d62828;
    transform: scale(1.1);
}

.quote-wrapper .number button:nth-child(3){
    background-color: #06d6a0;
}

.quote-wrapper .number button:nth-child(3):hover{
    background-color: #2a9d8f;
    transform: scale(1.1);
}

.quote-wrapper .number button:nth-child(4){
    background-color: #ff7d00;
}

.quote-wrapper .number button:nth-child(4):hover{
    background-color: #e85d04;
    transform: scale(1.1);
}

.quote-wrapper .number button:nth-child(5){
    background-color: #073b4c;
}

.quote-wrapper .number button:nth-child(5):hover{
    background-color: #023047;
    transform: scale(1.1);
}

/* mobile */

@media(max-width: 567px){
    .quote-wrapper .quote-body .number{
        padding: 12px 5px;
    }
    .quote_number{
      margin-right: 500px;
    }
    select.number{
        margin-top: -5px;
    }
}

@media(max-width: 500px){
    .quote-wrapper .number button{
        margin: 6px 5px;
        justify-content: space-evenly;
    }
    .quote-wrapper .quote-body{
        width: 100%;
    }
    .quote-wrapper .quote-body .btn button{
        padding: 7px 9px;
    }
    .quote-wrapper .quote-heading h2{
        font-size: 25px;
    }
}

@media(max-width: 367px){
    .quote-wrapper .quote-body{
        width: 90%;
        margin-left: 20px;
    }
}

.quote_number{
    position: relative;
    width: 200px;
}

.quote_number .number_generated{
    margin-left: 300px;
    border-radius: 7px;
    margin-top: -60px;
}

.quote_gen{
    margin-left: 300px;
}

.number_generated,.quote_gen{
    border: none;
    outline: none;
    padding: 12px;
    width: 150px;
    transition: 0.3s;
    border-radius: 7px;
}

.number{
    position: absolute;
    transform: scaleY(0);
    transform-origin: top;
    transition: 0.3s;
    margin-top: 5px;
}

.new_quote_gen{
    transform: scaleY(1);
}

.type_quote{
    position: relative;
    width: 200px;
}

.quote_type{
    padding: 9px 12px;
}

.quote_type,.type{
    border: none;
    outline: none;
    padding: 10px;
    width: 150px;
    transition: 0.3s;
}

.btn{
    position: absolute;
    transform: scaleY(0);
    transform-origin: top;
    transition: 0.3s;
}

.new_type_quote{
    transform: scaleY(1);
}


select.number{
    width: 178px !important;
    direction: rtl !important;
    margin-left: 300px !important;
    text-align: left;
    background: #333;
    border-radius: 7px;
    color: #fff;
    border: none;
    outline: none;
    padding: 7px 12px;
}

select.btn{
    display: block;
    border: none;
    outline: none;
    padding: 7px 12px;
    width: 178px !important;
    direction: ltr !important;
    background: #333;
    border-radius: 7px;
    color: #fff;
}

.display{
    display: flex;
    justify-content: center;
    align-items: center;
}