@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,300;0,400;0,500;0,600;1,300&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@300;400;500;700&display=swap');
*{
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background: #333;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.quote-wrapper{
    width: 650px;
    height: 570px;
    margin: 0 30px;
    padding: 75px;
}

.quote-wrapper .quote-heading{
    text-align: center;
    margin-bottom: 30px;
}

.quote-wrapper .quote-heading h2{
    font-weight: 400;
    font-family: 'Ubuntu', sans-serif;
    color: #fff;
}

.quote-wrapper .quote-body{
    max-width: 100%;
    max-height: 340px;
    background: #fff;
    border-radius: 5px;
    padding: 50px 35px;
}

.quote-wrapper .quote-body .icon-quote{
    text-align: center;
    font-size: 18px;
    color: #333;
    height: 150px;
    overflow: scroll;
    overflow-x: hidden;
}

.quote-wrapper .quote-body .icon-quote .icon{
    margin-right: 5px;
}


.quote-wrapper .quote-body .quote-btn{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 10px;
    border-top: 1px solid #333;
    padding: 5px 0;
}

.quote-wrapper .quote-body .social a{
    font-size: 30px;
    color: #333;
    background-size: cover;
    border-radius: 14px;
    color: #333;
    transition: 0.3 ease;
}

.quote-wrapper .quote-body .social a:hover{
    color: #00acee;
}

.quote-wrapper .quote-body .btn button{
    border: none;
    outline: none;
    padding: 10px 15px;
    background: #333;
    color: #ffff;
    cursor: pointer;
    font-size: 16px;
    border-radius: 7px;
    justify-content: right;
}

.quote-wrapper .quote-body .btn button:active{
    background: #00acee;
}

.quote-wrapper .footer{
    text-align: center;
    margin-top: 20px;
}

.quote-wrapper .footer p{
    color: #fff;
}

.quote-wrapper .footer p a{
    color: #00acee;
    text-decoration: none;
}

.quote-wrapper .number{
    display: flex;
    justify-content: space-between;
    padding-top: 10px;
}

.quote-wrapper .number button{
     align-items: center;
     justify-content: center;
     padding: 10px 20px;
     color: #fff;
     border-radius: 8px;
     cursor: pointer;
     outline: none;
     overflow: hidden;
     border: none;
}

.quote-wrapper .number button:nth-child(1){
    background-color: #457b9d;
}

.quote-wrapper .number button:nth-child(1):hover{
    background-color: #3d5a80;
}

.quote-wrapper .number button:nth-child(2){
    background-color: #e63946;
}

.quote-wrapper .number button:nth-child(2):hover{
    background-color: #d62828;
}

.quote-wrapper .number button:nth-child(3){
    background-color: #06d6a0;
}

.quote-wrapper .number button:nth-child(3):hover{
    background-color: #2a9d8f;
}

.quote-wrapper .number button:nth-child(4){
    background-color: #ff7d00;
}

.quote-wrapper .number button:nth-child(4):hover{
    background-color: #e85d04;
}

.quote-wrapper .number button:nth-child(5){
    background-color: #073b4c;
}

.quote-wrapper .number button:nth-child(5):hover{
    background-color: #023047;
}

.quote-wrapper .quote-body .quote-body-secondary .icon-quote span.quotes:nth-child(1){
    border-bottom: 1px solid var(#333);
    display: inline-block;
    flex-wrap: nowrap;
}